<html>
    <head></head>
    <body>
        <h1>Index</h1>
        {% if request.user.is_authenticated %}Hello, {{ request.user.first_name }}
        <p><a href="{% url 'logout' %}?next=/">Logout</a></p>
        {% elif identity_providers %} The list below is the list of IdentityProviders that are
        configured for this site. Click on the link to authenticate with the IdP.
        <ol>
            {% for idp in identity_providers %}
            <li>
                <a href="{% url 'social:begin' 'saml' %}?next={{ request.path }}&idp={{ idp.label }}"
                    >{{ idp.label }}</a
                >
            </li>
            {% endfor %}
        </ol>
        {% else %}
        <p>There are no IdentityProviders set up.</p>
        {% endif %}
        <hr>
        <p><a href="/admin/">Admin site</a></p>
    </body>
</html>
